<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>821240069279-i3maoilq9gv22pc6qsf5u5unk9gvvlte.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821240069279-i3maoilq9gv22pc6qsf5u5unk9gvvlte</string>
	<key>API_KEY</key>
	<string>AIzaSyApFlM5jVl85EgQ3d2r_Y63CUGucVMhEPU</string>
	<key>GCM_SENDER_ID</key>
	<string>821240069279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adddFrontend</string>
	<key>PROJECT_ID</key>
	<string>antisomnus-dashboard</string>
	<key>STORAGE_BUCKET</key>
	<string>antisomnus-dashboard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821240069279:ios:80f3144adfbecb3c95b6aa</string>
</dict>
</plist>